* {
  background-color: #dedbc8;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #333333;
  color: #dedbc8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
